.container{
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 300px;

}


.box1{
    transition: all 1s ease-in;
    background-color:darkcyan;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.box1:hover{
    transform:rotate3d(1,0,0,180deg);
}

.box2{
    transition: all 1s ease-in;
    background-color:darkcyan;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    
}
.box2:hover{
    transform: rotate3d(0,1,0,180deg);
}
.box3{
    transition: all 1s ease-in;
    background-color:darkcyan;
    width: 100px;
    height: 100px;
}
.box3:hover{
    transform: rotate3d(0,0,1,150deg);
}