
div{
    background-color: red;
    width: 75px;
    height: 75px;
    text-align: center;
    margin: 200px;

    
    animation: changeablebox 7s ease-in-out infinite;
}

@keyframes changeablebox {
    0%{
        transform: translate(0);
    }
    25%{
        transform: translateX(400px);
    }
    50%{
        transform: translate(400px,400px);
    }
    75%{
        transform: translateY(400px);
    }
    100%{
        transform:translateY(-400px,-400px);
    }
}